.tileContainer{
    /* height:180px;
    width:32%; */
    margin-left:1%;
    margin-top:5%;
    display:inline-block;
    box-shadow: 10px 20px 10px gray;
    background-color: white;
}
.names{
    display: flex;
}
.name{
    padding-left: 20%;
}
img{
    margin: 3%;
}

